:root{
    --color1:hsl(356, 100%, 66%);
    --color2:hsl(355, 100%, 74%);
    --color3:hsl(208, 49%, 24%);
    --color4:hsl(0, 0%, 100%);
    --color5:hsl(240, 2%, 79%);
    --color6:hsl(240, 10%, 16%);
    --color7:hsl(13, 100%, 72%);
    --color8:hsl(353, 100%, 62%);
    --color9:hsl(237, 17%, 21%);
    --color10:hsl(237, 23%, 32%);
    --minimo-ancho:375px;
    --maximo-ancho:1440px;
    --anchoLetraMuydelgada:300;
    --anchoLetradelgada:400;
    --anchoLetraMediana:500;
    --anchoLetraAncha:600;
    --anchoLetraMuyAncha:700;
    --otra-fuenteLetra:  "Ubuntu", sans-serif;
}
html{
    font-size:16px;
    font-family: "Overpass", sans-serif;
}
img{
    height: auto;

}
/*  Estilos Justin NavBar y footer*/
/* Estilos Erik  body superior*/



/* Estilos Lautaro  body inferior*/
.section-article__backgroundPhones{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: var(--maximo-ancho);
    margin: auto;
}
.article-background__phones{
    background-image: url("/images/bg-pattern-circles.svg");
    height: 78vh;
    background-position: center;
    background-size: cover;
}
.article-background__phones img{
    max-width: 85%;
    
    margin: auto;
}
.article__stateOfTheArtsection{
    
}
.article__stateOfTheArtsection p{
    max-width: 28rem;
}






